//
//  Config.xcconfig
//  MusiqConfiguration
//
//  Created by Olivier Rigault on 22/12/2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MSQ_API_SCHEME = https
MSQ_API_HOST = ws.audioscrobbler.com
MSQ_API_PATH = /2.0/
MSQ_API_KEY = a7698279d4bc40eba58c2338961937c1
